name: Test tap-pulumi-cloud

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/constraints.txt
    - .github/workflows/test.yml
    - tap_pulumi_cloud/**
    - tests/**
    - noxfile.py
    - pyproject.toml
    - uv.lock
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
    paths:
    - .github/workflows/constraints.txt
    - .github/workflows/test.yml
    - tap_pulumi_cloud/**
    - tests/**
    - noxfile.py
    - pyproject.toml
    - uv.lock

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: "1"
      NOXSESSION: tests-${{ matrix.python-version }}
      UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      UV_PYTHON: ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Install uv
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run tests
      env:
        TAP_PULUMI_CLOUD_TOKEN: ${{ secrets.TAP_PULUMI_CLOUD_TOKEN }}
        TAP_PULUMI_CLOUD_ORGANIZATIONS: ${{ secrets.TAP_PULUMI_CLOUD_ORGANIZATIONS }}
        TAP_PULUMI_CLOUD_START_DATE: ${{ secrets.TAP_PULUMI_CLOUD_START_DATE }}
      run: |
        nox
